<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/fapple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
</head>
<div>

    <div class="container">
        <div class="navheader">
            <img src="favicon_io/android-chrome-192x192.png" alt="">

            <ul>
                <%for(i=0;i<menu.length;i++){%>
                
                    <li><a href="<%=menu[i].navigation%>"><%=menu[i].name%></a></li>
               
                <%}%>
                <!-- <li><a href="about">About</a></li> -->
                <!-- <li><a href="contact">contact</a></li> -->

            </ul>

        </div>
        <div class="main">
            <div class="videos">
                <video autoplay muted loop id="myVideo">
                    <source src="videos/3163534-uhd_2560_1440_30fps.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="heading">
                    <h1><%=title%></h1>
                    
                </div>
            </div>
            <section>
                <div class="mainContainer">
                    <article>
                          <p>
                            Blogs have become a major part of the World Wide Web, providing an information platform for sharing ideas
                            and
                            knowledge
                            with a wider audience. As more people start their online journey, blogs have become the pillars of the
                            internet,
                            covering a wide variety of topics. With the growing popularity and usage, there are now many ways to start
                            and
                            manage a
                            blog online, and we have compiled a list of the best possible blog templates based on HTML.
                
                
                            Various research studies have shown that blogs have become a popular content marketing strategy. The
                            percentage of
                            people and companies using their online blogging platform to promote and market their products and services
                            has
                            increased significantly and is expected to continue until 2028. Potential customers researching products and
                            services
                            before investing rely on blogs, e-books, and third-party analysis reports online.
                        </p>
                    </article>
                    <aside>
                        <h2>Trending</h2>
                        <%for(i=0;i<trends.length;i++){ %>
                        <a class="trend" href="">
                            <p class="num"><%=i+1%>.</p>
                            <div class="trendContainer">
                                <p class="title"><%=trends[i].title%></p>
                                <div class="authorDesign"><%=trends[i].authors%><span> in </span><%=trends[i].category%></div>
                                <div class="timestamp">
                                    <p class="date"><%=trends[i].date%></p>
                                    <!-- <p class="mins">6mins read</p> -->
                                </div>
                            </div>
                        </a>
                        <%}%>
                        <!-- <a class="trend" href="">
                            <p class="num">01</p>
                            <div class="trendContainer">
                                <p class="para">How to Identify first blog post's topic</p>
                                <div class="authorDesign">Johnson Smith<span>in</span>Design</div>
                                <div class="timestamp">
                                    <p class="date">April 13 2020</p>
                                    <p class="mins">6mins read</p>
                                </div>
                            </div>
                        </a>
                        <a class="trend" href="">
                            <p class="num">01</p>
                            <div class="trendContainer">
                                <p class="para">How to Identify first blog post's topic</p>
                                <div class="authorDesign">Johnson Smith<span>in</span>Design</div>
                                <div class="timestamp">
                                    <p class="date">April 13 2020</p>
                                    <p class="mins">6mins read</p>
                                </div>
                            </div>
                        </a> -->
                    </aside>
                </div>
            </section>
            <section>

            </section>
           
        </div>
        <footer>
            <p>&copy; 2024 Blog Name. All rights reserved.</p>
        </footer>
    </div>

</body>
</html>